/* width */
::-webkit-scrollbar {
  width: 30px;

}

/* Track */
::-webkit-scrollbar-track {


}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: url(imgs/anchor.png);
  background-size: 30px;
  background-repeat: no-repeat;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: url(imgs/anchor.png);
  background-size: 30px;
  background-repeat: no-repeat;
}
body {
	color: black;
	background-image: url(imgs/background.jpg); 
	background-repeat: none;
	background-size: 100%;
	margin: 0px;
	height: 2650px;

}

#slideshow {
	background-color: black;
	width: 80%;
	height: 300px;
	border-radius: 30px 30px 0px 0px;
	margin-top: 50px;
}
#mainpage {
	margin-top: 50px;
	background-color: rgba(153, 115, 252, 0.3);
	width: 80%;
	height: 800px;
	border-radius: 0px 30px 30px 30px;
	
	margin-bottom: 50px;
}
.title {
	background-color: rgb(87, 117, 217);
	width: 250px;
	height: 70px;
	border-radius: 0px 30px 0px 30px;
	float: left;
	margin-top: -30px; 
	margin-left: -30px;
	position: absolute;
}
.thumb {
	background-color: blue;
	width: 100%;
	height: 250px;
	border-radius: 10px 10px 0px 0px;
}
.blogtitle {
	color: black;
	background-color: white;
	width: 100%;
	height: 285px;
	border-radius: 10px 10px 10px 10px;

}
.bloglink {
	width: 200px;
	float: left;
	margin: 70px 0px 0px 50px;
	box-shadow: 5px 5px 10px black;
	transition: all .1s ease-in-out; 
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;

}
.bloglink:hover {
	box-shadow: 10px 10px 15px black;
	transform: scale(1.05);
}
h1 {
	position: relative;
	bottom: 7px;
}
h3 {
	position: relative;
	bottom: 25px;
}
p {
	position: relative;
	bottom: 45px;
	color: gray;
}
#blogpage {
	margin-top: 50px;
	background-color: rgba(250, 250, 252, 0.8);
	width: 80%;
	height: 800px;
	border-radius: 0px 30px 30px 30px;
	
	margin-bottom: 50px;
}
