body {
	color: black;
	background-color: gray;
	margin: 0px;
}
#slideshow {
	background-color: red;
	width: 80%;
	height: 300px;
	border-radius: 30px 30px 0px 0px;
	margin-top: 50px;
}
#mainpage {
	background-color: rgb(233, 235, 242);
	width: 80%;
	height: 600px;
	border-radius: 0px 0px 30px 30px;
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 50px;
}
.title {
	background-color: green;
	width: 250px;
	height: 70px;
	border-radius: 0px 30px 0px 30px;
	float: left;
	margin-top: -30px; 
	margin-left: -30px;
	position: absolute;
}
.thumb {
	background-color: blue;
	width: 100%;
	height: 250px;
}
.blogtitle {
	color: black;
	background-color: white;
	width: 100%;
	height: 285px;

}
.bloglink {
	width: 200px;
	float: left;
	margin: 70px 0px 0px 50px;
	box-shadow: 5px 5px 10px black;
	transition: all .1s ease-in-out; 
	text-decoration: none;
	

}
.bloglink:hover {
	box-shadow: 10px 10px 15px black;
	transform: scale(1.05);
}
h1 {
	position: relative;
	bottom: 7px;
}
h3 {
	position: relative;
	bottom: 25px;
}
p {
	position: relative;
	bottom: 45px;
	color: gray;
}
